@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 2rem;
  background-color: #674baf;
  background-image: url(images/bg-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main {
  max-width: 450px;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.left_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.left_side .logo {
  width: 40%;
}

.left_side .hero_img {
  max-width: 100%;
}

.right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_side h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
}

.right_side p {
  padding: 0 0.3rem;
  text-align: center;
  color: white;
  margin-bottom: 0.3rem;
}

.right_side button {
  background-color: white;
  width: 70%;
  max-width: 250px;
  height: 2.7rem;
  border-radius: 500px;
  border: none;
  color: #674baf;
  -webkit-box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.right_side button:hover {
  background-color: #e882e8;
  color: white;
  cursor: pointer;
}

.right_side footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.right_side footer .icon_wrap {
  position: relative;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid white;
}

.right_side footer .icon_wrap:hover {
  border: 1px solid #e882e8;
  cursor: pointer;
}

.right_side footer .icon_wrap .fab {
  font-size: 0.75rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.right_side footer .icon_wrap .fab:hover {
  color: #e882e8;
}

@media (min-width: 1100px) {
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 4rem;
    background-color: #674baf;
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  main {
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .left_side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
  }
  .left_side .logo {
    width: 25%;
  }
  .left_side .hero_img {
    max-width: 100%;
  }
  .right_side {
    height: 100%;
    display: -ms-grid;
    display: grid;
    gap: 1.2rem;
    padding: 0 11rem 0 6rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .right_side .text {
    margin-top: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .right_side h1 {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: white;
  }
  .right_side p {
    padding-right: 4.1rem;
    text-align: left;
    color: white;
    margin-bottom: 0.3rem;
  }
  .right_side button {
    margin-top: 0.5rem;
    background-color: white;
    width: 70%;
    max-width: 180px;
    height: 3.2rem;
    border-radius: 500px;
    border: none;
    color: #674baf;
    -webkit-box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 3rem;
  }
  .right_side button:hover {
    background-color: #e882e8;
    color: white;
    cursor: pointer;
  }
  .right_side footer {
    padding-right: 4.1rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  .right_side footer .icon_wrap {
    position: relative;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 1px solid white;
  }
  .right_side footer .icon_wrap:hover {
    border: 1px solid #e882e8;
    cursor: pointer;
  }
  .right_side footer .icon_wrap .fab {
    font-size: 1.4rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .right_side footer .icon_wrap .fab:hover {
    color: #e882e8;
  }
}
/*# sourceMappingURL=style.css.map */